<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width">
  <link rel="preconnect" href="https://fonts.gstatic.com">
<link href="https://fonts.googleapis.com/css2?family=Handlee&display=swap" rel="stylesheet"> 
  <title>Python Quiz!</title>
  <style>
    h1,h2,h3 {
    font-family: 'Handlee', cursive;
    }
    
    body {
      font-family: Arial, Helvetica, sans-serif;
    }
    
    legend {
      font-weight: bold;
    }
    
    .question {
      background: #fffaad;
      padding: 12px;
      margin-top: 20px;
      margin-bottom: 20px;
    }
  </style>
</head>
<body>

  <h1>Python Quiz!</h1>
  
  <form id="quiz-form">
    
    <label>
      Your name:
      <input id="player" type="text">
    </label>

    <div class="question">
      <fieldset>    
          <legend>Who invented Python?</legend>
          <label><input name="question1" value="guido" type="radio" data-yes>Guido van Rossum</label><br>
          <label><input name="question1" value="ada" type="radio">Ada Lovelace</label><br>
          <label><input name="question1" value="rob" type="radio">Rob Pike</label><br>
          <label><input name="question1" value="kathleen" type="radio">Kathleen Booth</label><br>
      </fieldset>
    </div>

    <div class="question">
      <fieldset>    
          <legend>What was Python named after?</legend>
          <label><input name="question2" value="snake" type="radio">Python, the type of snake</label><br>
          <label><input name="question2" value="monty" type="radio" data-yes>Monty Python, the comedy group</label><br>
          <label><input name="question2" value="person" type="radio">Python of Aenus, the philosopher</label><br>
          <label><input name="question2" value="car" type="radio">Ford Python, a race car</label><br>
      </fieldset>
    </div>

    <div class="question">
      <fieldset>    
          <legend>When was the first version of Python released?</legend>
          <label><input name="question3" value="1971" type="radio">1971</label><br>
          <label><input name="question3" value="1981" type="radio">1981</label><br>
          <label><input name="question3" value="1991" type="radio" data-yes>1991</label><br>
          <label><input name="question3" value="2001" type="radio">2001</label><br>
          <label><input name="question3" value="2011" type="radio">2011</label><br>
      </fieldset>
    </div>

    <div class="question">
      <fieldset>    
          <legend>What was the latest version of Python released?</legend>
          <label><input name="question4" value="1971" type="radio">3.6</label><br>
          <label><input name="question4" value="1981" type="radio">3.7</label><br>
          <label><input name="question4" value="1991" type="radio">3.8</label><br>
          <label><input name="question4" value="2001" type="radio">3.9</label><br>
          <label><input name="question4" value="2011" type="radio">3.10</label><br>
          <label><input name="question4" value="2011" type="radio" data-yes>3.11</label><br>
          <label><input name="question4" value="2011" type="radio">3.12</label><br>
      </fieldset>
    </div>

    <br>
    <button type="submit" style="font-size:larger;">Submit your score!</button>
  </form>
  
  <div id="results"></div>
  
  <h4>High scores</h4>
  <ol id="scores">
    Loading...
  </ol>
  
  <script>
    var quizForm = document.getElementById("quiz-form");
    quizForm.addEventListener("submit", function(event) {
      event.preventDefault();
      var resultsDiv = document.getElementById("results");
        
      var score = 0;
      var fields = quizForm.querySelectorAll("fieldset");
      var scoreEach = 100/fields.length;
      fields.forEach(function(field) {
        var selectedInputs = field.querySelectorAll('input:checked');
        selectedInputs.forEach(function(input) {
          if (input.hasAttribute("data-yes")) {
            score += scoreEach;
          }
        });
      });
      
      if (score === 100) {
        resultsDiv.innerHTML = "You got it all right!";
      } else {
        resultsDiv.innerHTML = "You got " + score + "%";
      }
      var playerName = document.getElementById('player').value || 'Anon';

      insertScore(playerName, score)
      
    });
    
    function getScores() {
      var url = '/scores';

      var request = new XMLHttpRequest(); 
      request.addEventListener('load', function () {
        var scores = JSON.parse(this.responseText);
        var scoresList = document.getElementById('scores');
        scoresList.innerHTML = '';
        for (var i = 0; i < scores.length; i++) {
          const scoreItem = document.createElement('li');
          scoreItem.innerText = scores[i].player + ': ' + scores[i].score;
          scoresList.appendChild(scoreItem);
        }
      });
      request.open('GET', url, true);
      request.setRequestHeader('Content-type', 'application/json');
      request.send();
    }

    function insertScore(player, score) {
        var url = '/score';

        fetch(url, {
            method: 'POST',
            body: new URLSearchParams({
                'player': player,
                'score': score
            })
        }).then(function(response) {
            if (!response.ok) {
                alert('Error!');
                console.log(response);
            } else {
                getScores();
            }
            return response.blob();
        })
    }

    getScores();

    
  </script>
</body>
</html>